::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.5!important; /* Firefox */
}

.lesson-table table {
    width: 100%!important;
}

.lesson-table input {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    display: block;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    background: none;
    border: none;
    outline: none;
}

.lesson-table input::placeholder {
    opacity: 1;
    color: #000000;
}

textarea{
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.menu-bar{
    padding-left: 40px;
    padding-top: 20px;
}

.lesson-table{
    align-items: normal;
}

.save-btn{
    margin-bottom: 5px;
}