.student-cnt a{
	font-family: 'Baloo Bhai 2', cursive;
	font-weight: 700;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 8px;
    line-height: 0px; 
    color: black; 
    background: none;
    display: block; 
    align-items: baseline; 
    padding: 0px 0px; 
    border: none; 
   	height: 0px;
   	display: contents;
}

.time-ago{
    opacity: 0.6;
    font-size: 12px;
}
.bellcolor{
    filter: brightness(0) invert(1);
    margin-bottom: 3px;
}