.student-cnt a{
	font-family: 'Baloo Bhai 2', cursive;
	font-weight: 700;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 8px;
    line-height: 0px; 
    color: black; 
    background: none;
    display: block; 
    align-items: baseline; 
    padding: 0px 0px; 
    border: none; 
   	height: 0px;
   	display: contents;
}

.time-ago{
    opacity: 0.6;
    font-size: 12px;
}
.bellcolor{
    filter: brightness(0) invert(1);
    margin-bottom: 3px;
}
.dropdown-item-unread {
    display: block;
    width: 100%;
    padding: 0rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #fceed3;
    border: 0;
}
.dropdown-item {    
    padding: 0rem 1.5rem;        
}

.dropdown-divider { 
    margin: 0rem 0; 
    border-top: 1px solid #A9A9A9;
}