.home-picker-profile{
    padding: 10px 7px!important;
    cursor: pointer;
}

td input{
    max-width: 100px;
}

.tls-part a{
    bottom: 0px;
}

.border-none{
    border: none!important;
}

.delete-student{
    background: none!important;    
}

.delete-img{
    max-width: 22px!important;
}
